
@{
    ViewData["Title"] = "SignIn";
}

@model SignInViewModel

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2>Kullanıcı Giriş</h2>
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        <form asp-controller="Home" asp-action="SignIn" asp-route-returnUrl="@Context.Request.Query["returnURL"]" method="post">
          <div class="mb-3">
            <label for="Email" class="form-label" asp-for="Email">Email address</label>
            <input type="email" class="form-control" asp-for="Email">
            <span class="text-danger" asp-validation-for="Email"></span>
          </div>
          <div class="mb-3">
            <label for="Password" class="form-label" asp-for="Password">Password</label>
            <input type="password" class="form-control" asp-for="Password">
          </div>
          <div class="mb-3 form-check">
            <input class="form-check-input" asp-for="RememberMe">
            <label class="form-check-label"asp-for="RememberMe">Beni Hatırla</label>
          </div>
          <button type="submit" class="btn btn-primary">Üye Giriş</button>
        </form>
    </div>
</div>

