
@{
    ViewData["Title"] = "Index";
}


@model UserViewModel

<div class="row">
    <div class="col-md-6 offset-md-3 text-center">
       <user-picture-thumbnail class="rounded" style="width:300px" picture-url="@Model.PictureUrl"></user-picture-thumbnail>
    </div>
</div>

<div class="col-md-8 offset-md-2 mb-4">
    <h1>Kullanıcı Bilgileri</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Kullanıcı Adı</th>
          <th scope="col">Email</th>
          <th scope="col">Telefon Numarası</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <td>@Model.UserName</td>
          <td>@Model.Email</td>
          <td>@Model.PhoneNumber</td>
        </tr>
      </tbody>
    </table>
</div>


